
<div class="container-fluid" style="background-color: #002857;" >
<div class="container-sm" style="background-color: #002857;" >
  <div class="row">
    <div class="col-2" style="padding-top: 35px" >
      <img [src]="urlLogo" class="img-fluid"  alt=""  >
    </div>
  <div class="col-sm-6" style="padding-top: 40px">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Find the best pet health content..." aria-label="Recipient's username" aria-describedby="button-addon2" style="border-color: white">
        <div style="background-color: white; border-color: white; border-radius: 0px 5px 5px 0px; width: 50px; text-align: center">
          <div class="mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="color: #002857; font-weight: bolder">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </div>

        </div>
    </div>
  </div>
    <div class="col-4" style="padding-top: 40px; text-align: right">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0e6fbe; font-weight: bold">
          Connect with a Vet
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          <li><a class="dropdown-item" href="#">Dropdown link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>


