<div class="container-fluid mt-5" >
  <div class="row" style="background-color: #edf9ff">
    <div class="col-5 py-3 "  >
      <div class="pt-3" style=" text-align:right; font-weight: 500; font-size: 19px">Follow Us
      </div>
    </div>
    <div class="col-2 py-3" style=" text-align: center">
      <a [href]="urlFacePage" target="_blank" class="btn btn-sm" style="color: black;font-weight: 500;border: 2px solid blue; border-radius: 90px;background-color: white">
          <img [src]="urlFacebook" class="img-fluid" alt="" style="width:45px;height:43px;">
        Facebook</a>
    </div>

    <div class="col-5 py-3" style=" text-align: left">
      <a [href]="urlTwitterPage" target="_blank" class="btn btn-sm"  style="color: black;font-weight: 500;border: 2px solid dodgerblue; border-radius: 90px;background-color: white">
        <img [src]="urlTwitter" class="img-fluid" alt="" style="width:45px;height:43px;">
        Twitter
      </a>
    </div>

  </div>

  <div class="row py-4" style="background-color: #0e6fbe" >
    <div class="col-5 pt-2">
      <div style="color: white; font-weight: bold; text-align: right; font-size: 19px">Subscribe to PetMD's Newsletter</div>
    </div>

    <div class="col-3">
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="button-addon2" style="border-color: white; font-size: 15px">
        <div style="background-color: white; border-color: white; border-radius: 0px 5px 5px 0px; width: 50px; text-align: center">
          <div style="text-align: center; color: #828282" class="mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg>
          </div>

        </div>
      </div>

    </div>

    <div class="col-4">
      <button type="button" class="btn btn-outline-light">Suscribe</button>
    </div>
    <div class="mt-1"  style="text-align: center; font-size: 9px;color: white">Your privacy is important to us.</div>
  </div>

  <div class="row py-4"  >


    <ul class="nav justify-content-center" style="font-weight: 500"   >
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Become a Vet Writer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BeChewy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Legal Notices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sitemap</a>
      </li>
    </ul>
  </div>

  <div class="row py-3" style="background-color: #182b55; color: white ">
    <div style="text-align: center">
      Copyright @ 2022 PetMD.
    </div>

  </div>



</div>
